<form method="post" action="{{ path('catalogage_delete', {'id': catalogage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catalogage.id) }}">
    <button class="btn">Delete</button>
</form>
