{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="/composer/new" class="btn">Create composer</a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
