<form method="post" action="{{ path('ensemble_delete', {'id': ensemble.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ensemble.id) }}">
    <button class="btn">Delete</button>
</form>
