{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classical Classify - Home page</h1>
    <h4>Instructions:</h4>
    <p>A musical work (called here <i>ouvre</i>, the french term for <i>work of art</i>) has a name (or a title), which is usually its genre followed by an ordinal number, like "Concerto n. 3". There are some works entitled named with a name or a title, like "The Storm". </p>  
    <p>Each published work receives an Opus number, which represents the order it was published among all the publications by this composer.</p> 
    <p>The great composers from the past had their works cataloged. Each catalogue organizes all the known pieces of music by its author in a certain method, that could be chronological, or by genre. This way, each piece of work receives a catalogue number. Some composers, who, for example, published most part of its works, don't have a relevant catalogue, becouse the publications' Opus turns out to be a satisfying catalogage. This is the case of the work of Chopin, who had its works published even after his death.</p>
    <p>A musical work may be a piece of music alone or a collection of small pieces of music. In this case, each piece is numbered after the Opus number. "Sonata Op. 2 n. 3", then, is the third Sonata of the Opus 2 collection.</p>


{% endblock %}